<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstpass"
    android:sharedUserId="com.firstpass.user"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <permission
        android:name="com.firstpass.permission"
        android:description="@string/descriptionPerm"
        android:label="Read incoming email"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    
	<uses-permission android:name="com.firstpass.permission" />
    <application
        android:name="com.firstpass.model.SocketProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.firstpass.services.AuthenticationService"
            android:exported="false"
            android:permission="com.firstpass.permission" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>

        <activity
            android:name="com.firstpass.activities.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:permission="com.firstpass.permission"
            android:process="com.firstpass.process" >
        </activity>
        <activity
            android:name="com.firstpass.activities.Login"
            android:label="@string/app_name"
            android:process="com.firstpass.process" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.firstpass.Login" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firstpass.activities.FirstPass"
            android:label="@string/title_activity_first_pass"
            android:permission="com.firstpass.permission"
            android:process="com.firstpass.process" >
        </activity>
    </application>

</manifest>